.page_content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main_container{
  width: 30%;
  height: 70%;
  border-radius: 4%;
  background-color: #FFFFFF99;
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem;
}

.form > .form_group:first-child{
  margin-bottom: 1rem;
}

.page_content input{
  width: 100%;
}
.page_content h3{
  margin-left: auto;
  margin-right: auto;
}
.button_submit{
  margin-top: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
}

.forgot_pass{
  margin-top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
  transition: background 0.3s ease-in-out;
}
.forgot_pass:hover{
  background-color: #98cbe5;
  /* transition: 0.5s; */
}

.checkbox_group{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

@media (max-width: 768px){
  .main_container{
    width: 80%;
    height: 50%;
  }
}

.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}