/* Sobrescrevendo os estilos do Dropdown */
#dropdown-basic-button {
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: 1px solid #0056b3; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
}

#dropdown-basic-button:hover {
    background-color: #0056b3; /* Cor de fundo no hover */
    color: #fff; /* Cor do texto no hover */
}

.dropdown-menu {
    background-color: #f8f9fa; /* Cor de fundo do menu */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px; /* Borda arredondada */
}

.dropdown-item {
    color: #333; /* Cor dos itens */
    padding: 10px 15px; /* Espaçamento interno dos itens */
}

.dropdown-item:hover {
    background-color: #007bff; /* Cor de fundo no hover */
    color: white; /* Cor do texto no hover */
}
