.form-container {
    background: white;
    padding: 10px;
    margin: 20px auto;
    margin-top: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    height: 40px;
}

input, select, textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    background: #ccc;
}

button[type="submit"] {
    background: #00509e;
    color: white;
}

section textarea{
    width: 700px;
    height: 40px;
}