.sidebar {
    width: 140px;
    color: white;
    display: flex;
    flex-direction: column;
}
.logo-uea-container {
    width: 150px; 
    border-radius: 8px; /* Bordas arredondadas */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.li-content{
    display: flex;
    flex-direction: column;
}
.button-li{
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    gap: 8px;
    background-color: #17427c;
    color: white;
    
}
.button-li.active{
    color: #0092C1;
}

.icon-li{
    font-size: 18px;
}
.sidebar-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.sidebar ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
    cursor: pointer;
    gap: 20px;
}

.box-option{
    background-color: rgb(17, 19, 105);
    height: 20px;
    width: 110px;
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
