.gray_bar {
  margin-top: 3rem;
  background-color: #4b5f70;
  border-radius: 20px 20px;
  height: 36px;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .gray_bar {
    display: none;
  }
  html {
    font-size: 12px;
  }
  .filter_section_bar {
    display: none;
  }
}
