/*
.background-container {
    background-image: url('../img/azul.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;  #Ocupar toda a altura da tela 
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; #Texto em branco para melhor contraste 
}
*/

.main-container {
    display: flex;
    height: 100vh;
    background: #f0f4f8;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
