.label {
  margin: 0px 210px;
}
.add_icon {
  margin-right: 20px;
  cursor: pointer;
}

.title_container h3 {
  margin: 10px;
}

.title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.title_container h3{
  margin: 10px;
}
