.layout{
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  overflow:auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  width: 100vw;
  padding-right: 5rem;
}

@media (max-width: 1000px) {
  .main-content {
    padding-right: 0;
  }
}




  
