*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-height: 100vh;
  min-width: 100vw; */
}

.app{
  display: flex;
}